<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{HaneulWalk/inc/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>하늘 산책</title>
    <link rel="stylesheet"  th:href="@{/css/style.css}">

</head>

<body>
    <div class="container">
       <main layout:fragment="main">
            <div class="funeral-link">
                <a href="">장례서비스 업체 제공 소개글</a>
            </div>
            <div class="section">
                <p>온라인 추모관 소개글</p>
            </div>
            <div class="section">
                <img src="diary.jpg" alt="Diary">
                <p>추억다이어리 소개글</p>
            </div>
            <div class="section">
                <p>애도작품 콘테스트 소개글</p>
            </div>
        </main>
    </div>
</body>

</html>