<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .aside {
            padding-left: 10px;
            background-color: rgba(153, 214, 243, 0.918);
            width: 350px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 50px;


        }
    </style>
</head>

<body>
    <aside th:fragment="bottom-bar" class="aside">
        <h1>하단바</h1>
        <ul>
            <li><a href="">다이어리</a></li>
            <li><a href="">콘테스트</a></li>
            <li><a href="">홈</a></li>
            <li><a href="">네비</a></li>
        </ul>
    </aside>
</body>

</html>