<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .header{
            background-color:rgba(153, 214, 243, 0.918);
            width: 350px;
            padding-left: 50px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    </style>
</head>
<body>
    <header th:fragment="top-bar" class="header">
        <h1>하늘 산책</h1>
        <p>Pet Funeral</p>
    </header>
</body>
</html>