<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .header{
            background-color: rgba(211, 230, 254, 1);
            max-width: 400px;
            margin: 0;
            padding-left: 10px;
            border: 1px solid rgb(29, 18, 18);
        }
    </style>
</head>
<body>
    <header th:fragment="top-bar" class="header">
        <h1>하늘 산책</h1>
        <p>Pet Funeral</p>
    </header>
</body>
</html>