<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{HaneulWalk/inc/layout-diary}">

<head>
    <meta charset=" UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>추억 다이어리</title>
</head>

<body>
    <main layout:fragment="main">

        <section>
            <h1>추억다이어리 소개</h1>
            <div>
                <div><img alt="추억다이어리는 반려동물을 잃은 사람들을 위로하고 치유하는 공간입니다." src="#"></div>
                <div><img alt="추억다이어리는 반려동물과의 소중한 순간을 회상하고 되돌아보는 것을 돕는 질문이 매일 하나씩 제공합니다." src="#"></div>
                <div><img alt="추억과 관련된 사진들을 첨부하고 다양한 스티커로 예쁘게 꾸밀 수도 있어요." src="#"></div>
                <div><img alt="질문을 읽으며 떠오르는 기억과 감정들을 자유롭게 표현해보세요." src="#"></div>
                <div><img alt="이렇게 하루하루 쌓인 기록들은 추억다이어리가 반려동물을 기억하는 특별한 공간으로 거듭나게 해줄거에요." src="#"></div>           
            </div>
        </section>
            
        <div><a href="">추억 다이어리 시작하기</a></div>

    </main>
</body>

</html>