<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{HaneulWalk/inc/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main layout:fragment="main">
        <nav>
            <h1>메뉴카테고리</h1>
            <ul>
                <li><a href="">전국</a></li>
                <li><a href="">수도권</a></li>
                <li><a href="">충청권</a></li>
                <li><a href="">강원권</a></li>
                <li><a href="">영남권</a></li>
                <li><a href="">호남권</a></li>
            </ul>
        </nav>
        <section>
            <h1>정렬</h1>
            <form action="">
                <label>정렬
                    <select name="sort" id="sort">
                        <option value="">가까운순</option>
                        <option value="">별점순</option>
                        <option value="">리뷰많은순</option>
                        <option value="">이름순</option>
                    </select>
                </label>
            </form>
        </section>
        <nav>
            <h1>목록/지도보기</h1>
            <div><a href="">목록</a></div>
            <div><a href="">지도</a></div>
        </nav>
        <section>
            <h1>업체목록</h1>
            <div>
                <div><img src="funeral.jpg" alt="업체사진"></div>
                <div>
                    <div>업체이름</div>
                    <div>업체위치정보</div>
                    <div><a href="">업체정보 자세히보기</a></div>
                    <ul>
                        <li>기준거리</li>
                        <li>허가사항</li>
                        <li>허가사항</li>
                        <li>허가사항</li>
                        <li>허가사항</li>
                    </ul>
                </div>  
            </div>
            <div>
                <div><img src="funeral.jpg" alt="업체사진"></div>
                <div>
                    <div>업체이름</div>
                    <div>업체위치정보</div>
                    <div><a href="">업체정보 자세히보기</a></div>
                    <ul>
                        <li>기준거리</li>
                        <li>허가사항</li>
                        <li>허가사항</li>
                        <li>허가사항</li>
                        <li>허가사항</li>
                    </ul>
                </div>  
            </div>
            <div>
                <div><img src="funeral.jpg" alt="업체사진"></div>
                <div>
                    <div>업체이름</div>
                    <div>업체위치정보</div>
                    <div><a href="">업체정보 자세히보기</a></div>
                    <ul>
                        <li>기준거리</li>
                        <li>허가사항</li>
                        <li>허가사항</li>
                        <li>허가사항</li>
                        <li>허가사항</li>
                    </ul>
                </div>  
            </div>
        </section>
    </main>
</body>

</html>