<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{HaneulWalk/inc/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main layout:fragment="main">
    <nav>
            <h1>메뉴카테고리</h1>
            <ul>
                <li>전국</li>
                <li>수도권</li>
                <li>충청권</li>
                <li>강원권</li>
                <li>영남권</li>
                <li>호남권</li>
            </ul>
        </nav>
        <div>필터</div>
        <section>
            <h1>업체목록</h1>
            <div><a href="">목록</a></div>
            <div><a href="">지도</a></div>
            <div>
                <div><a href=""><img src="funeral.jpg" alt="업체사진"></a></div>
                <div><a href="">업체이름</a></div>
                <div>업체위치정보</div>
                <div><a href="">업체정보 자세히보기</a></div>
                <ul>
                    <li>허가사항</li>
                    <li>허가사항</li>
                    <li>허가사항</li>
                    <li>허가사항</li>
                </ul>        
            </div>
            <div>
                <div><a href=""><img src="funeral.jpg" alt="업체사진"></a></div>
                <div><a href="">업체이름</a></div>
                <div>업체위치정보</div>
                <div><a href="">업체정보 자세히보기</a></div>
                <ul>
                    <li>허가사항</li>
                    <li>허가사항</li>
                    <li>허가사항</li>
                    <li>허가사항</li>
                </ul>        
            </div>
            <div>
                <div><a href=""><img src="funeral.jpg" alt="업체사진"></a></div>
                <div><a href="">업체이름</a></div>
                <div>업체위치정보</div>
                <div><a href="">업체정보 자세히보기</a></div>
                <ul>
                    <li>허가사항</li>
                    <li>허가사항</li>
                    <li>허가사항</li>
                    <li>허가사항</li>
                </ul>        
            </div>
        </section>
    </main>
</body>
</html>
