
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}
.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}
.top-bar {
    background-color: #ddeafc;
    padding: 20px;
    text-align: left;
}
.top-bar h1 {
    margin: 0;
    font-size: 20px;
}
.top-bar p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

.funeral-link{
    background-image: url(/src/main/resources/templates/HaneulWalk/haneulWalk-파일계층/images/img01.jpeg);
    background-repeat: no-repeat;
    background-size:contain;
}
.funeral-link a{
    display: inline-block;
    height: 100px;
    width: 100%;
}
.content {
    padding: 20px;
}
.content img {
    width: 100px;
    border-radius: 50%;
}
.section {
    margin: 20px 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.section img {
    width: 100%;
    border-radius: 10px;
}

.bottom-bar {
    display: flex;
    justify-content:space-around;
    padding: 10px 0;
    background-color: #ddeafc;
}
.bottom-bar div {
    width: 40px;
    height: 40px;
    background-color: #eee4cb;
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
