<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{./HaneulWalk/inc/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>온라인 추모관 메인</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    
</head>
    
<body>
    <main layout:fragment="main">
        <h1>온라인 추모관 대표 이미지</h1>
        <div><img src="" alt="대표 이미지"></div>
        <section>
            <h1>추모관 생성 가이드</h1>
            <ul>
                <li>
                    [1]. 반려동물과의 소중한 추억이 담긴 사진과 동영상을 준비<br>
                    <img src="" alt="1번 사진">
                </li>
                <li>
                    [2]. 회원 가입 후, 온라인 추모관 페이지로 이동<br>
                    <img src="" alt="2번 사진">
                </li>
                <li>
                    [3]. 추모관 생성하기 버튼 클릭<br>
                    <img src="" alt="3번 사진">
                </li>
                <li>
                    [4]. 추모관 생성하기 페이지에서 추모관 제목, 대문 스토리 작성<br>
                    <img src="" alt="4번 사진">
                </li>
                <li>
                    [5]. BGM과 추모관 테마 선택<br>
                    <img src="" alt="5번 사진">
                </li>
                <li>
                    [6]. 추모관 액자 배치도를 참고하여 사진과 동영상을 업로드<br>
                    <img src="" alt="6번 사진">
                </li>
                <li>
                    [7]. 완료 버튼을 누르면 온라인 추모관 생성 성공!<br>
                    <img src="" alt="7번 사진">
                </li>
            </ul>
        </section>
        <aside>
            <h1>추모관 구경, 생성 버튼</h1>
            <ul>
                <li>추모관 구경</li>
                <li>추모관 생성</li>
            </ul>
        </aside>
    </main>
</body>

</html>