<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{./HaneulWalk/inc/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>온라인 추모관 메인</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>
    <main layout:fragment="main">
        <section>
            <h1>온라인 추모관 소개 및 가이드 이미지</h1>
            <div><img src="" alt="대표 이미지01"></div>
            <div><img src="" alt="대표 이미지02"></div>
            <div><img src="" alt="대표 이미지03"></div>
        </section>
        <nav>
            <h1>추모관 구경, 생성 버튼</h1>
            <div><a href="">추모관 구경</a></div>
            <div><a href="">추모관 생성</a></div>
        </nav>
    </main>
</body>

</html>